In [1]:
train_file_path=r"C:\Users\Admin\Desktop\new_machine_learning_project_end_To_end_deployment\housing\artifact\data_ingestion\2022-08-08-00-32-33\ingested_data\train\housing.csv"

In [2]:
train_file_path

'C:\\Users\\Admin\\Desktop\\new_machine_learning_project_end_To_end_deployment\\housing\\artifact\\data_ingestion\\2022-08-08-00-32-33\\ingested_data\\train\\housing.csv'

In [3]:
import pandas as pd

In [4]:
df=pd.read_csv(train_file_path)

In [5]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-121.46,38.52,29.0,3873.0,797.0,2237.0,706.0,2.1736,72100.0,INLAND
1,-117.23,33.09,7.0,5320.0,855.0,2015.0,768.0,6.3373,279600.0,NEAR OCEAN
2,-119.04,35.37,44.0,1618.0,310.0,667.0,300.0,2.8750,82700.0,INLAND
3,-117.13,32.75,24.0,1877.0,519.0,898.0,483.0,2.2264,112500.0,NEAR OCEAN
4,-118.70,34.28,27.0,3536.0,646.0,1837.0,580.0,4.4964,238300.0,<1H OCEAN

In [6]:
df.shape

(16512, 10)

In [7]:
x,y=df.drop(columns=["median_house_value"],axis=1),df[["median_house_value"]]

In [8]:
x.shape

(16512, 9)

In [9]:
x.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        158
population              0
households              0
median_income           0
ocean_proximity         0
dtype: int64

In [13]:
from sklearn.impute import SimpleImputer

In [14]:
SimpleImputer()

SimpleImputer()

In [17]:
simple_imputer=SimpleImputer(strategy="median")

In [18]:
numerical_column=x.drop(columns=['ocean_proximity'],axis=1)

In [20]:
numerical_column

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
0,-121.46,38.52,29.0,3873.0,797.0,2237.0,706.0,2.1736
1,-117.23,33.09,7.0,5320.0,855.0,2015.0,768.0,6.3373
2,-119.04,35.37,44.0,1618.0,310.0,667.0,300.0,2.8750
3,-117.13,32.75,24.0,1877.0,519.0,898.0,483.0,2.2264
4,-118.70,34.28,27.0,3536.0,646.0,1837.0,580.0,4.4964
...,...,...,...,...,...,...,...,...
16507,-117.07,33.03,14.0,6665.0,1231.0,2026.0,1001.0,5.0900
16508,-121.42,38.51,15.0,7901.0,1422.0,4769.0,1418.0,2.8139
16509,-122.72,38.44,48.0,707.0,166.0,458.0,172.0,3.1797
16510,-122.70,38.31,14.0,3155.0,580.0,1208.0,501.0,4.1964
16511,-122.14,39.97,27.0,1079.0,222.0,625.0,197.0,3.1319

In [21]:
simple_imputer=SimpleImputer(strategy="median")

In [22]:
simple_imputer.fit_transform(numerical_column)

array([[-1.2146e+02,  3.8520e+01,  2.9000e+01, ...,  2.2370e+03,
         7.0600e+02,  2.1736e+00],
       [-1.1723e+02,  3.3090e+01,  7.0000e+00, ...,  2.0150e+03,
         7.6800e+02,  6.3373e+00],
       [-1.1904e+02,  3.5370e+01,  4.4000e+01, ...,  6.6700e+02,
         3.0000e+02,  2.8750e+00],
       ...,
       [-1.2272e+02,  3.8440e+01,  4.8000e+01, ...,  4.5800e+02,
         1.7200e+02,  3.1797e+00],
       [-1.2270e+02,  3.8310e+01,  1.4000e+01, ...,  1.2080e+03,
         5.0100e+02,  4.1964e+00],
       [-1.2214e+02,  3.9970e+01,  2.7000e+01, ...,  6.2500e+02,
         1.9700e+02,  3.1319e+00]])

In [23]:
df=simple_imputer.transform(numerical_column)

In [26]:
simple_imputer.feature_names_in_

array(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income'],
      dtype=object)

In [27]:
simple_imputer.statistics_

array([-118.51   ,   34.26   ,   29.     , 2119.     ,  433.     ,
       1164.     ,  408.     ,    3.54155])

In [29]:
x.longitude.median

<bound method NDFrame._add_numeric_operations.<locals>.median of 0       -121.46
1       -117.23
2       -119.04
3       -117.13
4       -118.70
          ...
16507   -117.07
16508   -121.42
16509   -122.72
16510   -122.70
16511   -122.14
Name: longitude, Length: 16512, dtype: float64>

In [30]:
x.latitude.median

<bound method NDFrame._add_numeric_operations.<locals>.median of 0        38.52
1        33.09
2        35.37
3        32.75
4        34.28
         ...
16507    33.03
16508    38.51
16509    38.44
16510    38.31
16511    39.97
Name: latitude, Length: 16512, dtype: float64>

In [31]:
x.ocean_proximity

0            INLAND
1        NEAR OCEAN
2            INLAND
3        NEAR OCEAN
4         <1H OCEAN
            ...
16507     <1H OCEAN
16508        INLAND
16509     <1H OCEAN
16510     <1H OCEAN
16511        INLAND
Name: ocean_proximity, Length: 16512, dtype: object

In [32]:
x.ocean_proximity.value_counts()

<1H OCEAN     7277
INLAND        5262
NEAR OCEAN    2124
NEAR BAY      1847
ISLAND           2
Name: ocean_proximity, dtype: int64

In [33]:
simple_imputer=SimpleImputer(strategy="most_frequent")

In [34]:
simple_imputer

SimpleImputer(strategy='most_frequent')

In [36]:
class FeatureGenerator():
    pass
    def __init__(self,strategy="median"):
        self.strategy=strategy
    def fit(self,X):
        self.features_=X.columns
        self.statistic=[]
        for column in X.columns:
            self.statistic_.append(X[column].median())

    def transform(x,y):
        for column in X.columns:
            X[column].fillna()

    def fit_transform(x,y):
        pass